.launcher-news-list {
  padding: 1.3rem 0;
  display: flex;
  flex-direction: column;
}

.launcher-news-note {
  color: white;
  padding: 1.3rem 0 2.2rem 0;

  &.lastest {
    background: rgba(255, 255, 255, 0.05);
  }

  .launcher-news-note-content {
    width: 90%;
    max-width: 800px;
    margin: auto;
  
    h2 {
      font-family: 'MinecraftTen';
      padding-bottom: 4px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .launcher-news-note-versions {
    display: flex;
    flex-direction: row;
    gap: 0 0.8rem;
  }

  .launcher-news-note-version {
    font-size: 0.76rem;
    background: #474747;
    padding: 3px 4px 2px 4px;
  }

  .launcher-news-note-body {
    padding: 0 0 0 0;

    h3 {
      font-size: 1.05rem;
      padding-bottom: 0.9rem;
    }

    ul {
      padding-left: 2.8rem;
    }

    li {
      font-size: 0.92rem;
      padding: 0.1rem 0;
    }

    code {
      background: #202020;
      padding: 1px 4px 1px 4px;
      border-radius: 2px;
    }
  }
}