.searchbox {
  display: flex;
  height: 32px;
  min-height: 32px;
  background: #131313;
  border-radius: 3px;
  place-items: center;
  border: 1px solid #131313;
  cursor: text;

  &:hover {
    background: #0E0E0E;
  }

  &:focus-within {
    border: 1px solid #C2C2C2;
  }

  .reset-btn {
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    margin: 4px 4px;
    margin-left: 4px;
    margin-right: 0;
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    padding: 0 0;
    border-radius: 3px;
    place-content: center;
    place-items: center;
    transition: 100ms background;

    svg {
      width: 12px;
      height: 12px;

      line {
        stroke: #B8B8B8;
      }
    }

    &:hover {
      background: #2B2B2B;

      svg {
        line {
          stroke: #FFF;
        }
      }
    }
  }

  .search-icon {
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-left: 8px;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 9px;
    }

    path {
      fill: #bbb;
    }
  }

  input[type="text"] {
    background: none;
    border: none;
    height: 100%;
    color: white;
    width: 100%;
    caret-color: white;
    padding: 0 0.4rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-weight: 550;
      font-size: 0.8rem;
      color: #898989;
      letter-spacing: -0.3px;
      transition: 100ms color;
    }

    &:focus::placeholder {
      color: #6E6E6E;
    }

    &::selection {
      background: #008541;
    }
  }

  .results {
    padding: 0 5px;
    cursor: initial;
    color: white;
    margin: 4px 3px 4px 10px;
    display: flex;
    flex-direction: row;
    width: max-content;
    min-width: max-content;
    background: #FFFFFF1B;
    height: 24px;
    border-radius: 3px;
    position: relative;
    top: 0px;
    place-content: center;
    place-items: center;
    font-size: 0.8rem;

    &::before {
      cursor: initial;
      position: relative;
      content: '';
      display: block;
      width: 1px;
      height: 24px;
      top: 0px;
      left: -13px;
      background: #424242;
    }
  }
}