.play-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .banner {
    height: 100%;
    opacity: 0;
    position: relative;
    animation: opacbannerAnim 200ms ease-in forwards;
    z-index: 1;
    filter: brightness(1.05);
  }

  .minicraft-logo {
    position: absolute;
    top: -22px;
    left: 50%;
    translate: -50% 0;
    width: 312px;
    height: 48px;
    animation: logoDownAnim 300ms ease-in-out forwards;

    &.minicraftplus {
      width: 360px;
    }

    &.unitycraft {
      width: 336px;
    }
  }

  .bar {
    position: relative;
    width: 100%;
    height: 56px;
    min-height: 56px;
    background: var(--play-bar-background);
    box-shadow: 0px 1px 4px 4px #00000033;
    z-index: 2;
  }
}

@keyframes logoDownAnim {
  0% {
    top: -22px;
  }
  45% {
    top: 20px;
  }
  65% {
    top: 16px;
  }
  85% {
    top: 17px;
  }
  100% {
    top: 18px;
  }
}

@keyframes opacbannerAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}