.main-menu-tab {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 62px;
  height: 62px;
  background: var(--mainmenu-tab-background);
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 150ms background ease-in;

  .new-square {
    --new-square-border: #1e1e1e;
    position: absolute;
    right: 0.6rem;
    top: calc(50% - 15px);
    translate: 0 -50%;
    width: 10px;
    height: 10px;
    box-shadow:
      inset 2px 2px var(--new-square-border),
      inset -2px -2px var(--new-square-border);
    background: #0DD166;
    z-index: 0;
  }

  &:hover {
    background: #353535;

    .new-square {
      --new-square-border: #353535;
    }
  }
  
  &:focus {
    background: #292929;

    .new-square {
      --new-square-border: #292929;
    }
  }
  
  &:focus:not(:active, .selected),
  &:focus-visible,
  &.selected:focus-visible {
    outline: none;
    border: 1px solid white;
    border-radius: 0;
    background: #353535;

    .new-square {
      --new-square-border: #353535;
    }
  }

  &.selected {
    cursor: default;
    pointer-events: none;
    background: transparent;
  }
  
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 0px;
    background: var(--mainmenu-tab-selected-indicator);
    position: absolute;
    top: 50%;
    left: -1px;
    translate: 0 -50%;
  }

  [dir="rtl"] &::before {
    right: 0;
  }
  
  &.selected::before {
    height: 18px;
    transition: 200ms height ease-in-out;
  }
  
  .icon {
    position: relative;
    height: 100%;
    padding: 0 0.9rem;
    display: flex;
    place-items: center;
  }
  
  .icon img {
    height: 30px;
    image-rendering: pixelated;
  }
  
  .label-content {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100%;
    color: var(--mainmenu-tab-foreground);
    position: relative;
    top: -1px;
  }
  
  .label-content .uptitle {
    font-family: 'Noto Sans';
    font-size: 10px;
    text-transform: uppercase;
  }
  
  .label-content .title {
    font-family: 'Noto Sans';
    font-size: 14px;
  }
  
  &.selected .label-content .uptitle,
  &.selected .label-content .title {
    font-family: 'Noto Sans';
    font-weight: bold;
    letter-spacing: -0.2px;
  }
}