.main-menu-tab {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 62px;
  height: 62px;
  background: #1e1e1e;
  cursor: pointer;
  transition: 100ms background ease-in;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  border: 1px solid transparent;
  text-decoration: none;
}

.main-menu-tab:hover {
  background: #353535;
}

.main-menu-tab:focus {
  background: #292929;
}

.main-menu-tab:focus-visible,
.main-menu-tab.selected:focus-visible {
  outline: none;
  border: 1px solid white;
  border-radius: 0;
  background: #353535;
}

.main-menu-tab.selected {
  cursor: default;
  background: transparent;
}

.main-menu-tab::before {
  content: '';
  display: block;
  width: 4px;
  height: 0px;
  background: white;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.main-menu-tab.selected::before {
  height: 18px;
  transition: 200ms height ease-in-out;
}

.main-menu-tab .icon {
  height: 100%;
  padding: 0 0.9rem;
  display: flex;
  place-items: center;
}

.main-menu-tab .icon img {
  height: 30px;
  image-rendering: pixelated;
}

.main-menu-tab .label-content {
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;
  color: #EEE;
}

.main-menu-tab .label-content .uptitle {
  font-family: 'NotoSans';
  font-size: 10px;
  text-transform: uppercase;
}

.main-menu-tab .label-content .title {
  font-family: 'NotoSans';
  font-size: 14px;
}

.main-menu-tab.selected .label-content .uptitle,
.main-menu-tab.selected .label-content .title {
  font-family: 'NotoSansBold';
  letter-spacing: -0.2px;
}