.checkbox {
  height: 17px;

  label {
    position: relative;
    height: 17px;
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: row;
    max-width: max-content;

    &:hover {
      .check-fake {
        border: 1px solid var(--checkbox-hover-border);
        background: var(--checkbox-hover-background);
      }
    }

    &:active {
      .check-fake {
        border: 1px solid var(--checkbox-active-border);
        background: var(--checkbox-active-background);
      }
    }

    &:hover {
      input:checked ~ .check-fake {
        border: 1px solid var(--checkbox-checked-hover-background);
        background: var(--checkbox-checked-hover-background);
      }
    }

    &:active {
      input:checked ~ .check-fake {
        border: 1px solid var(--checkbox-checked-active-background);
        background: var(--checkbox-checked-active-background);
      }
    }

    span {
      position: relative;
      top: -1px;
      font-family: 'Noto Sans';
      font-size: 13px;
      height: 100%;
    }
  }

  .check-box {
    position: relative;
    width: 17px;
    min-width: 17px;
    height: 17px;
    min-height: 17px;

    border: 1px solid transparent;
    margin-right: 4px;

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 4px;
    }

    &:focus-within {
      border: 1px solid white;
    }

    .check-fake {
      top: 0px;
      left: 0px;
      position: absolute;
      width: 15px;
      min-width: 15px;
      height: 15px;
      min-height: 15px;
      background: var(--checkbox-background);
      border: 1px solid var(--checkbox-border);
      display: flex;
      place-content: center;
      place-items: center;
      
      .check {
        display: none;
      }
    }

    input {
      opacity: 0;
      
      &:checked + .check-fake {
        border-color: var(--checkbox-checked-background);
        background: var(--checkbox-checked-background);

        .check {
          display: block;
        }
      }
    }
  }
}