.submenu {
  background: var(--submenu-background);
  padding: 30px 1.2rem 0;
  height: 82px;
  min-height: 82px;
  position: relative;
  z-index: 1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.submenu h2 {
  position: relative;
  font-family: 'Noto Sans';
  font-weight: bold;
  color: #FFFFFF;
  top: 1px;
  text-transform: uppercase;
  font-size: 0.76rem;
  padding: 0 0 5px;
}

.submenu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.submenu li {
  text-align: center;
  list-style: none;
  margin: 0 1.7rem 0 0;
}

[dir="rtl"] .submenu li {
  margin: 0 0 0 1.7rem;
}

.submenu li:first-of-type {
  padding-right: 0;
  padding-left: 0;
}

.submenu li:last-of-type {
  padding-left: 0;
}

.submenu a {
  color: hsl(0, 0%, 81%);
  text-decoration: none;
  position: relative;
  font-family: 'Noto Sans';
  font-size: 14px;
  -webkit-user-drag: none;
  padding: 0 0 0.71rem 0;
  transition: color 100ms;
}

.submenu a:hover {
  color: #FFFFFF;
}

.submenu a::before {
  display: block;
  content: attr(title);
  font-family: 'Noto Sans';
  font-weight: bold;
  overflow: hidden;
  visibility: hidden;
  height: 0px;
}

.submenu a.active {
  pointer-events: none;
  font-family: 'Noto Sans';
  font-weight: bold;
  color: #FFFFFF;
}

.submenu a.active::after {
  background: #008542;
  transition-property: width;
  transition-duration: 200ms;
  width: 20px;
}

.submenu a:focus {
  outline: none;
}

.submenu a:active,
.submenu a:focus:has(:hover),
.submenu a:focus-visible {
  font-family: 'Noto Sans';
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

.submenu a.active:focus-visible::after {
  background: hsl(0, 0%, 100%);
  width: 20px;
}

.submenu a::after {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 3px;
  background: transparent;
  left: 50%;
  transform: translate(-50%);
  bottom: -8px;

  [dir="rtl"] & {
    right: 50%;
    transform: translate(50%);
  }
}