.patch-list {
  display: grid;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
  width: max-content;
  grid-template-columns: repeat(3, 240px);
  row-gap: 26px;
  column-gap: 26px;
  margin: auto;
}

@media screen and (min-width: 1300px) {
  .patch-list {
    grid-template-columns: repeat(4, 240px);
  }
}

@media screen and (min-width: 1600px) {
  .patch-list {
    grid-template-columns: repeat(5, 240px);
  }
}

@media screen and (min-width: 1800px) {
  .patch-list {
    grid-template-columns: repeat(6, 240px);
  }
}