@font-face {
  font-family: 'Minecraft';
  font-display: block;
  src: url(./assets/fonts/Minecraft.ttf);
}

@font-face {
  font-family: 'MinecraftTen';
  src: url(./assets/fonts/MinecraftTen.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: block;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Noto Sans';
  src:
    local('Noto Sans'), local('NotoSans'),
    url(./assets/fonts/NotoSans-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: block;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Noto Sans';
  src:
    local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(./assets/fonts/NotoSans-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: block;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Noto Sans';
  src:
    local('Noto Sans Italic'), local('NotoSans-Italic'),
    url(./assets/fonts/NotoSans-Italic.woff2) format('woff2');
  font-style: italic;
  font-weight: normal;
  font-display: block;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Noto Sans Bold Italic';
  src:
    local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
    url(./assets/fonts/NotoSans-BoldItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: bold;
  font-display: block;
  text-rendering: optimizeLegibility;
}