@font-face {
  font-family: 'Minecraft';
  src: url(./assets/fonts/Minecraft.ttf);
}

@font-face {
  font-family: 'MinecraftTen';
  src: url(./assets/fonts/MinecraftTen.ttf);
}

@font-face {
  font-family: 'NotoSans';
  src: url(./assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: 'NotoSansBold';
  src: url(./assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: 'NotoSansItalic';
  src: url(./assets/fonts/NotoSans-Italic.ttf);
}

@font-face {
  font-family: 'NotoSansBoldItalic';
  src: url(./assets/fonts/NotoSans-BoldItalic.ttf);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}