:root[data-theme="light"] {
  --background: #fcfcfc;
  --mainmenu-background: #f1f1f1;
  --mainmenu-tab-background: #f1f1f1;
  --mainmenu-tab-foreground: #222;
  --mainmenu-tab-selected-indicator: rgb(31, 81, 219);
  --submenu-background: #f1f1f1;
  --modal-dialog-background: #f1f1f1;
}