:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #333333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

body, #root, h1, h2, h3, h4, h5, h6, p, span, button, a, img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar { 
  width: 8px;
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #515151;
}

::-webkit-scrollbar-thumb:hover {
  background: #5C5C5C;
}

::-webkit-scrollbar-thumb:active {
  background: #686868;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #3C3C3C;
}

// App
#root {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.main-menu {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  width: 180px;
  height: 100%;
  background: #1e1e1e;

  .launcher-version {
    color: #A5A5A5;
    font-family: 'Noto Sans';
    font-size: 0.75rem;
    padding: 0.1rem 0.8rem 0.1rem;
  }
}

.main-menu .fill-v {
  height: 100%;
}

.route-root {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.subroute-page {
  top: 83px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

// Coming Soon
.coming-soon-container {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100%;

  h2 {
    font-size: 2rem;
  }
}