.bordered-btn {
  outline: none;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  text-decoration: none;
  min-height: 32px;

  .inner {
    display: flex;
    place-items: center;
    place-content: center;
    padding: 1px 1.15rem 0;
    color: white;
    border: 1px solid #717171;
    height: 32px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 550;
  }

  span {
    translate: 0 0;
    position: relative;
  }

  &.iconned .inner {
    padding: 0.25rem 0.4rem;

    img {
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      height: 19px;
      width: 19px;
    }
  }

  &.green .inner {
    background: #008542;
    border-color: #008542;
  }

  &.red .inner {
    background: #D93636;
    border-color: #D93636;
  }

  &:hover.normal .inner {
    background: #5c5c5c;
    border-color: #8d8d8d;
  }

  &:hover.green .inner {
    background: #0dd166;
    border-color: #0dd166;
  }

  &:hover.red .inner {
    background: #E7643C;
    border-color: #E7643C;
  }

  &:active.normal .inner {
    background: #4f4f4f;
  }

  &:active.red .inner {
    background: #C0300A;
    border-color: #C0300A;
  }

  &:focus.normal .inner,
  &:focus-visible.normal .inner {
    border-color: transparent;
  }
  
  &:focus.green .inner,
  &:focus-visible.green .inner {
    background: #0dd166;
    border-color: #0dd166;
  }

  &:focus.red .inner,
  &:focus-visible.red .inner {
    background: #d10d0d;
  }
  
  &:focus,
  &:focus-visible {
    border-color: white;
  }

  &:active.green .inner {
    background: #006431;
    border-color: #006431;
  }

  &:disabled {
    pointer-events: none;
  }

  &.red:disabled .inner {
    background: #a72a2a;
    color: #e2a1a1;
    border-color: #a72a2a;
  }
}