.bordered-btn {
  outline: none;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;

  .inner {
    display: flex;
    place-items: center;
    place-content: center;
    padding: 1px 1.1rem 0;
    border: 1px solid #717171;
    font-weight: 550;
    font-size: 0.79rem;
    height: 32px;
  }

  &.iconned .inner {
    padding: 0.35rem 0.5rem;
  }

  &.green .inner {
    background: #008542;
    border-color: #008542;
  }

  &.red .inner {
    background: #D93636;
    border-color: #D93636;
  }

  &:hover.normal .inner {
    background: #5c5c5c;
    border-color: #8d8d8d;
  }

  &:hover.green .inner {
    background: #0dd166;
    border-color: #0dd166;
  }

  &:hover.red .inner {
    background: #E7643C;
    border-color: #E7643C;
  }

  &:active.normal .inner {
    background: #4f4f4f;
  }

  &:active.green .inner {
    background: #006431;
  }

  &:active.red .inner {
    background: #C0300A;
  }

  &:focus.normal .inner,
  &:focus-visible.normal .inner {
    border-color: transparent;
  }
  
  &:focus.green .inner,
  &:focus-visible.green .inner {
    background: #0dd166;
  }

  &:focus.red .inner,
  &:focus-visible.red .inner {
    background: #d10d0d;
  }
  
  &:focus,
  &:focus-visible {
    border-color: white;
  }

  &:disabled {
    pointer-events: none;
  }

  // width: max-content;
  // max-width: max-content;
  // background: none;
  // border: 1px solid transparent;
  // color: rgb(255, 255, 255);
  // cursor: pointer;
  // outline: none;

  // .inner {
  //   display: block;
  //   width: max-content;
  //   max-width: max-content;
  //   border: 1px solid #717171;
  //   padding: 0.45rem 1rem 0.35rem;
  //   height: 32px;
  //   font-weight: 550;
  //   font-size: 0.81rem;
  // }

  // .inner.iconned {
  //   padding: 0.35rem 0.5rem;
  // }

  // .inner.green {
  //   background: #008542;
  //   border-color: #008542;
  // }

  // .inner.green:hover {
  //   background: #0dd166;
  //   border-color: #0dd166;
  // }

  // .inner.green:focus {
  //   border: 1px solid white;
  //   background: #0dd166;
  // }

  // .inner.green:active {
  //   background: #006431;
  // }

  // .inner.red {
  //   background: #a00202;
  //   border-color: #a00202;
  // }

  // .inner.red:hover {
  //   background: #d10d0d;
  //   border-color: #d10d0d;
  // }

  // .inner.red:focus {
  //   border: 1px solid white;
  //   background: #d10d0d;
  // }

  // .inner.red:active {
  //   background: #640000;
  // }

  // &:focus,
  // &:focus-within {
  //   border: 1px solid white;
  //   background: hsl(0, 0%, 24%);

  //   .inner {
  //     background: transparent;
  //   }
  // }

  // &:hover .inner {
  //   background: #5c5c5c;
  //   border-color: #8d8d8d;
  // }

  // &:active .inner {
  //   background: #4f4f4f;
  // }

  // &:focus,
  // &:focus-within {
  //   border: 1px solid white;

  //   .inner {
  //     background: transparent;
  //   }
  // }
}